<p>add-product works!</p>
<div class="form-area">
    <h3>Create Product</h3>
    <form [formGroup]="form">
      <label>Product Name</label>
      <input formControlName="name" type="text" name="name" type="text">
      <span *ngIf="this.form.get('name')?.['invalid'] && this.form.get('name')?.['touched']" class="alert alert-danger">Required</span>
      <label>Product Description</label>
      <input formControlName="desc" type="text" name="desc" type="text">
      <span *ngIf="this.form.get('desc')?.['invalid'] && this.form.get('desc')?.['touched']" class="alert alert-danger">Required</span>

      <label>Product Price</label>
      <input formControlName="price" type="text" name="price" type="text">
      <span *ngIf="this.form.get('price')?.['invalid'] && this.form.get('price')?.['touched']" class="alert alert-danger">Required</span>

      <button (click)="onAddProduct()" class="btn btn-primary">Add Product</button>
      <button type="button" (click)="onReset()" class="btn">Reset</button>
    </form>
  </div>
